.board {
  width: 100vw;
  height: 100vw;
  background-image: url("../../../assets/BetaBoard.png");
  background-size: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.square {
  border: 0.5px black inset;
  width: calc(100vw / 10);
  height: calc(100vw / 10);
  margin: 0;
  display: grid;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .board {
    width: 40vw;
    height: 40vw;
    background-image: url("../../../assets/BetaBoard.png");
    background-size: 40vw;
    display: flex;
    flex-wrap: wrap;
  }

  .square {
    border: 0.5px black inset;
    width: calc(40vw / 10);
    height: calc(40vw / 10);
    margin: 0;
    display: grid;
    align-items: center;
  }
}
