:root {
  --red-piece: red;
  --blue-piece: blue;
  --width: 100vw;
  --cell: calc(var(--width) / 10);
}

.App {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  :root {
    --red-piece: red;
    --blue-piece: blue;
    --width: 40vw;
    --cell: calc(var(--width) / 10);
    --piece-color: "";
  }
}
